# .gitignore
__pycache__/
*.pyc
# .gitignore
__pycache__/
*.pyc
venv/
venv
.env
.DS_Store
.python-version
# Dossier de travail temporaire (ne pas récupérer les modifications des étudiants ici)
sandbox/
